.space-card {
  background-color: #0d0d0d !important;
  border: 1px solid #003b00 !important;
  transition: all 0.3s ease;
  overflow: hidden;
}
.space-card:hover {
  border-color: #00ff41 !important;
  box-shadow: 0 0 15px rgba(0, 255, 65, 0.2) !important;
  transform: translateY(-5px) !important;
}

.bg-space {
  background-color: #0d0d0d;
}

.space-text {
  color: #00ff41 !important;
}

.space-text2 {
  color: #a2b3a2 !important;
}
a {
  border: 1px solid #00ff41 !important;
}

a:hover {
  background-color: #00ff41;
  color: white;
}
